.container {
    height: 100vh;
}

.pokemons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;

}

.pokemons div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 9px;
    transition: transform  ease-in-out 0.4s  0.5s, background ease-in-out 0.25s  ;
}

.pokemons div:hover {
    background: rgba(9, 39, 232, 0.58);
    border-radius: 26px;
    transform: translateY(-10px) ;

}

img {
    max-width: 250px;
}

.pokemonName {
    color: #000;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 3em;
}
.pokemons div:hover .pokemonName{
    color: #fff;

}

.btnpokemonAdd {
    padding: 12px;
    font-size: 24px;
    border-radius: 12px;
    text-align: center;
    background-color: #94a0e9;
    color: rgb(255, 255, 255);
    border: 1px  solid rgba(58, 180, 121, 0.319);
    background:  rgb(51 185 58 / 79%);
    margin: auto  ;
    outline: none;
    cursor: pointer;
}

.btncontainer {
    padding: 32px;
    display: flex;
}