    /* header */
    .pokemonName {
        margin: 0;
        color: #fff;
        text-transform: capitalize;
        padding-top: 56px;
    }

    .pokemonContent {
        position: relative;
        width: 100%;
        color: #fff;
        height: auto;
    }

    .pokemonImageChange {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .idPokemon {
        position: absolute;
        left: 80%;
        top: 20%;
    }

    .idPokemon {
        color: #fff;
    }

    .pokemonTypes {
        margin-top: 20px;
        display: flex;
        gap: 6px;
    }

    .pokemonType {
        display: flex;
        background-color: rgba(255, 255, 255, 0.36);
        width: 80px;
        height: 32px;
        text-align: center;
        border-radius: 24px;
        padding: 0 6px 0 6px;
        text-transform: capitalize;
        justify-content: center;
        align-items: center;
    }


    .btnImage {
        margin-top: 12px;
    }

    .btnImageShinyPokemon {
        border: none;
        margin-bottom: 8px;
        color: #fff;
        background-color: rgba(127, 127, 127, 0);
        border: 1px solid #fff;
        padding: 6px;
        cursor: pointer;
        border-radius: 8px;
    }

    .imgBackground {
        background-repeat: no-repeat;
        background-position: center 135px;
        background-size: 274px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }


    .typePokemonContainer, .pokemonImageChange {
        margin: 0 16px 0 16px;
    }

    .pokemonImageChange {
        padding: 6px;
    }

    .typePokemonBtn {
        color: #000;
        background-color: aqua;
    }