.pokemonContainer {
    position: relative
}

.typepokemon {
    position: absolute;
    left: 26%;
    top: 10%;

}

.pokemonContainerImg {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 217px;
}

.pokemonName {
    font-size: 36px;
    text-transform: uppercase;
    color: white;

}

.typepokemonBtn {
    display: flex;
    gap: 6px;
}

.typepokemonBtn span {
    padding: 12px;
    border-radius: 12px;
    width: 80px;
    border: none;
    background-color: #fff;
}

.tabs{
    width: 100%;
    height: 53px;
    margin-top: 24px

}

.tab {
    padding: 19px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
}
.btnImageShinyPokemon{
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    text-align: center;
    margin: auto;
}
.imageShinyPokemon{
    padding: 12px;
    display: flex;
    
}
.tab:hover{
    border-bottom: 3px solid red;

}
.basestate{
    display: none;
}
/* .border{
    
} */
.tabAbout{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.tabPara{
    display: flex;
    gap: 12px;
    align-items: center;

}
.titleColumn{
    width: 150px;
}
